CompileFlags:
  CompilationDatabase: .
  Compiler: /Users/mac/.platformio/packages/toolchain-xtensa-esp-elf/bin/xtensa-esp32s3-elf-gcc
  Add:
    - -I/Users/mac/Desktop/airplay/managed_components/espressif__m5stack_core_s3/include
    - -I/Users/mac/Desktop/airplay/managed_components/lvgl__lvgl
    - -I/Users/mac/Desktop/airplay/managed_components/lvgl__lvgl/src
    - -I/Users/mac/Desktop/airplay/managed_components/lvgl__lvgl/examples
    - -I/Users/mac/Desktop/airplay/managed_components/lvgl__lvgl/demos
    - -I/Users/mac/Desktop/airplay/managed_components/espressif__esp_lvgl_port/include
    - -I/Users/mac/Desktop/airplay/components/ui_core
    - -I/Users/mac/Desktop/airplay/components/audio_core
    - -I/Users/mac/Desktop/airplay/components/audio_core/audio
    - -I/Users/mac/Desktop/airplay/components/audio_core/resampler
    - -I/Users/mac/Desktop/airplay/components/board_cores3
    - -I/Users/mac/Desktop/airplay/.pio/build/m5cores3/config
    - -I/Users/mac/Desktop/airplay/main
    - -I/Users/mac/.platformio/packages/framework-espidf/components/xtensa/esp32s3/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/xtensa/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/xtensa/deprecated_include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/newlib/platform_include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/freertos/config/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/freertos/config/include/freertos
    - -I/Users/mac/.platformio/packages/framework-espidf/components/freertos/config/xtensa/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/freertos/FreeRTOS-Kernel/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/freertos/FreeRTOS-Kernel/portable/xtensa/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/freertos/FreeRTOS-Kernel/portable/xtensa/include/freertos
    - -I/Users/mac/.platformio/packages/framework-espidf/components/freertos/esp_additions/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_hw_support/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_hw_support/include/soc
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_hw_support/include/soc/esp32s3
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_system/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_common/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_rom/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_rom/include/esp32s3
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_timer/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/log/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/hal/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/hal/esp32s3/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/soc/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/soc/esp32s3/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/driver/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/driver/deprecated
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_lcd/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_lcd/interface
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_psram/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/spi_flash/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_ringbuf/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/heap/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/nvs_flash/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_partition/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/mbedtls/mbedtls/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/mbedtls/port/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/mbedtls/esp_crt_bundle/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_event/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_netif/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_wifi/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/lwip/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/lwip/lwip/src/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/lwip/port/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/lwip/port/freertos/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_phy/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_phy/esp32s3/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_coex/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/bt/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/bt/host/bluedroid/api/include/api
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_codec_dev/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_codec_dev/platform/esp32s3
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_audio_codec/include
    - -I/Users/mac/.platformio/packages/framework-espidf/components/esp_audio_effects/include
    - -D_POSIX_READER_WRITER_LOCKS
    - -D_GNU_SOURCE
    - -D_GLIBCXX_USE_POSIX_SEMAPHORE
    - -D_GLIBCXX_HAVE_POSIX_SEMAPHORE
    - -DLV_CONF_INCLUDE_SIMPLE
    - -DESP_PLATFORM
    - -DIDF_VER=\"5.5.3\"
    - -DMBEDTLS_CONFIG_FILE=\"mbedtls/esp_config.h\"
    - -DBOARD_HAS_PSRAM
    - -DARDUINO_M5STACK_CORES3
    - -DARDUINO_USB_MODE=1
    - -DARDUINO_USB_CDC_ON_BOOT=1
    - -DCONFIG_SPIRAM_SIZE=8388608
    - -DBSP_CONFIG_NO_GRAPHIC_LIB=0
  Remove:
    - -mdisable-hardware-atomics
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
Diagnostics:
  Suppress:
    - unknown-argument
    - drv_unknown_argument
    - drv_unknown_argument_with_suggestion
    - block_on_nonlocal
    - ambiguous-construct
    - non-literal-format
    - tautological-bitwise-compare
    - signed-unsigned-warnings
    - dangling-else
    - implicit-function-declaration
    - undeclared-func
    - implicit-int
    - incompatible-pointer-types
    - int-conversion
    - unused-includes
    - unused-variable
    - unused-parameter
    - unused-function
    - missing-field-initializers
    - format
    - format-extra-args
    - format-nonliteral
    - deprecated-declarations
    - pointer-arith
    - strict-prototypes
    - old-style-definition
    - cast-align
    - cast-qual
    - conversion
    - sign-conversion
    - double-promotion
    - float-conversion
    - missing-prototypes
    - redundant-decls
    - unreachable-code
    - unreachable-code-break
    - unreachable-code-return
    - documentation
    - documentation-unknown-command
    - unused-macros
    - missing-noreturn
    - padded
    - reserved-id-macro
    - reserved-identifier
    - keyword-macro
    - warnings
    - pragma-messages
    - attribute
    - attributes
    - builtin-requires-header
    - c++98-compat
    - c++98-compat-pedantic
    - c99-extensions
    - gnu
    - gnu-zero-variadic-macro-arguments
    - gnu-label-as-value
    - gnu-statement-expression
    - gnu-empty-initializer
    - gnu-designator
    - microsoft
    - microsoft-anon-tag
    - microsoft-cast
    - microsoft-comment
    - microsoft-enum-value
    - microsoft-end-of-file
    - microsoft-extra-qualification
    - microsoft-fixed-enum
    - microsoft-flexible-array
    - microsoft-redeclare-static
    - microsoft-template
    - microsoft-union-member-reference
    - microsoft-unqualified-friend
    - microsoft-using-decl
    - microsoft-void-pseudo-dtor
    - nested-anon-types
    - newline-eof
    - nullability
    - nullability-completeness
    - nullability-completeness-on-arrays
    - oslog-returned-pointer
    - packed
    - parentheses
    - pointer-bool-conversion
    - shorten-64-to-32
    - switch-enum
    - thread-safety
    - thread-safety-analysis
    - thread-safety-attributes
    - thread-safety-beta
    - thread-safety-reference
    - undefined-func-template
    - undefined-reinterpret-cast
    - unneeded-internal-declaration
    - unneeded-member-function
    - unused-exception-parameter
    - unused-private-field
    - unused-template
    - user-defined-warnings
    - weak-vtables
    - wrong-profile
    - W#pragma-messages
    - W#warnings
    - Wattributes
    - Wbuiltin-requires-header
    - Wc++11-compat
    - Wc++11-compat-pedantic
    - Wc++14-compat
    - Wc++14-compat-pedantic
    - Wc++17-compat
    - Wc++17-compat-pedantic
    - Wc++20-compat
    - Wc++20-compat-pedantic
    - Wc11-extensions
    - Wc99-compat
    - Wcast-align
    - Wcast-qual
    - Wcomma
    - Wcomment
    - Wconversion
    - Wcovered-switch-default
    - Wdeprecated
    - Wdeprecated-declarations
    - Wdeprecated-implementations
    - Wdeprecated-register
    - Wdocumentation
    - Wdocumentation-deprecated-sync
    - Wdocumentation-html
    - Wdocumentation-pedantic
    - Wdocumentation-unknown-command
    - Wduplicate-enum
    - Wduplicate-method-match
    - Wembedded-directive
    - Wempty-init-stmt
    - Wenum-compare
    - Wenum-conversion
    - Wexceptions
    - Wexit-time-destructors
    - Wexpansion-to-defined
    - Wextra-semi
    - Wextra-semi-stmt
    - Wfloat-conversion
    - Wfloat-equal
    - Wformat
    - Wformat-nonliteral
    - Wformat-pedantic
    - Wformat-security
    - Wfour-char-constants
    - Wglobal-constructors
    - Wgnu
    - Wgnu-anonymous-struct
    - Wgnu-auto-type
    - Wgnu-binary-literal
    - Wgnu-case-range
    - Wgnu-complex-integer
    - Wgnu-compound-literal-initializer
    - Wgnu-conditional-omitted-operand
    - Wgnu-declaration-after-statement
    - Wgnu-designator
    - Wgnu-empty-struct
    - Wgnu-flexible-array-initializer
    - Wgnu-flexible-array-member
    - Wgnu-folding-constant
    - Wgnu-imaginary-constant
    - Wgnu-include-next
    - Wgnu-inline-cpp-without-extern
    - Wgnu-label-as-value
    - Wgnu-redeclared-enum
    - Wgnu-statement-expression
    - Wgnu-static-float-init
    - Wgnu-string-literal-operator-template
    - Wgnu-union-cast
    - Wgnu-variable-sized-type-not-at-end
    - Wgnu-zero-line-directive
    - Wgnu-zero-variadic-macro-arguments
    - Wheader-hygiene
    - Widiomatic-parentheses
    - Wimplicit
    - Wimplicit-fallthrough
    - Wimplicit-fallthrough-per-function
    - Wimplicit-float-conversion
    - Wimplicit-function-declaration
    - Wimplicit-int
    - Wimplicit-int-conversion
    - Wimplicit-retain-self
    - Wimport
    - Wimport-preprocessor-directive-pedantic
    - Winconsistent-missing-destructor-override
    - Winfinite-recursion
    - Wint-conversion
    - Winteger-overflow
    - Winvalid-or-nonexistent-directory
    - Wkeyword-macro
    - Wlanguage-extension-token
    - Wlogical-op-parentheses
    - Wmain
    - Wmethod-signatures
    - Wmicrosoft
    - Wmismatched-tags
    - Wmissing-braces
    - Wmissing-field-initializers
    - Wmissing-include-dirs
    - Wmissing-noreturn
    - Wmissing-prototypes
    - Wmissing-variable-declarations
    - Wmost
    - Wmove
    - Wnewline-eof
    - Wnon-gcc
    - Wnon-virtual-dtor
    - Wnonportable-include-path
    - Wnonportable-system-include-path
    - Wnullability
    - Wnullability-completeness
    - Wnullability-completeness-on-arrays
    - Wobjc-interface-ivars
    - Wobjc-missing-property-synthesis
    - Wobjc-missing-super-calls
    - Wobjc-multiple-method-names
    - Wobjc-noncopy-retain-block-property
    - Wobjc-property-assign-on-object-type
    - Wobjc-property-matches-isa-usage
    - Wobjc-protocol-method-implementation
    - Wobjc-readonly-with-setter-property
    - Wobjc-root-class
    - Wobjc-signed-char-bool
    - Wobjc-signed-char-bool-implicit-conversion
    - Wold-style-cast
    - Wold-style-definition
    - Wopenmp
    - Wopenmp-clause
    - Wopenmp-loop-form
    - Wopenmp-mapping
    - Wopenmp-target
    - Wout-of-line-declaration
    - Wover-aligned
    - Woverlength-strings
    - Woverloaded-virtual
    - Wpacked
    - Wpadded
    - Wparentheses
    - Wpedantic
    - Wpointer-arith
    - Wpointer-bool-conversion
    - Wpragma-pack
    - Wpragma-pack-suspicious-include
    - Wprofile-instr-missing
    - Wprofile-instr-out-of-date
    - Wquoted-include-in-framework-header
    - Wredundant-decls
    - Wredundant-move
    - Wredundant-parens
    - Wreorder
    - Wreserved-id-macro
    - Wreserved-identifier
    - Wreserved-user-defined-literal
    - Wreturn-std-move
    - Wreturn-type
    - Wreturn-type-c-linkage
    - Wself-assign
    - Wself-move
    - Wsemicolon-before-method-body
    - Wsentinel
    - Wshadow
    - Wshadow-all
    - Wshadow-field
    - Wshadow-field-in-constructor
    - Wshadow-ivar
    - Wshift-sign-overflow
    - Wshorten-64-to-32
    - Wsign-compare
    - Wsign-conversion
    - Wsigned-unsigned-warnings
    - Wsizeof-array-argument
    - Wsizeof-array-decay
    - Wsizeof-pointer-div
    - Wsizeof-pointer-memaccess
    - Wsource-uses-openmp
    - Wstack-protector
    - Wstatic-in-inline
    - Wstrict-aliasing
    - Wstrict-overflow
    - Wstrict-prototypes
    - Wstrict-selector-match
    - Wstring-conversion
    - Wstring-plus-int
    - Wsuper-class-method-mismatch
    - Wswitch-enum
    - Wtautological-compare
    - Wtautological-constant-compare
    - Wtautological-constant-in-range-compare
    - Wtautological-constant-out-of-range-compare
    - Wtautological-overlap-compare
    - Wtautological-pointer-compare
    - Wtautological-type-limit-compare
    - Wtautological-unsigned-char-zero-compare
    - Wtautological-unsigned-enum-zero-compare
    - Wtautological-unsigned-zero-compare
    - Wthread-safety
    - Wthread-safety-analysis
    - Wthread-safety-attributes
    - Wthread-safety-beta
    - Wthread-safety-negative
    - Wthread-safety-reference
    - Wtype-limits
    - Wundeclared-selector
    - Wundefined-func-template
    - Wundefined-internal-type
    - Wundefined-reinterpret-cast
    - Wunguarded-availability
    - Wunguarded-availability-new
    - Wuninitialized
    - Wuninitialized-const-reference
    - Wunknown-argument
    - Wunknown-attributes
    - Wunknown-directives
    - Wunknown-escape-sequence
    - Wunknown-pragmas
    - Wunneeded-internal-declaration
    - Wunneeded-member-function
    - Wunreachable-code
    - Wunreachable-code-aggressive
    - Wunreachable-code-break
    - Wunreachable-code-return
    - Wunused
    - Wunused-but-set-parameter
    - Wunused-but-set-variable
    - Wunused-command-line-argument
    - Wunused-exception-parameter
    - Wunused-function
    - Wunused-label
    - Wunused-lambda-capture
    - Wunused-local-typedef
    - Wunused-macros
    - Wunused-member-function
    - Wunused-parameter
    - Wunused-private-field
    - Wunused-property-ivar
    - Wunused-result
    - Wunused-template
    - Wunused-value
    - Wunused-variable
    - Wused-but-marked-unused
    - Wuser-defined-literals
    - Wvarargs
    - Wvector-conversion
    - Wvexing-parse
    - Wvla
    - Wvla-extension
    - Wvolatile-register-var
    - Wweak-template-vtables
    - Wweak-vtables
    - Wzero-as-null-pointer-constant
    - Wzero-length-array