CompileFlags:
  CompilationDatabase: .
  Compiler: /Users/mac/.platformio/packages/toolchain-xtensa-esp-elf/bin/xtensa-esp32s3-elf-gcc
  Remove:
    - -mlongcalls
    - -mdisable-hardware-atomics
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
Diagnostics:
  Suppress:
    - unknown-argument
    - drv_unknown_argument
    - drv_unknown_argument_with_suggestion
    - block_on_nonlocal
